### Exercícios Aula 04
##### Utilize o dataset contido nesse [link](https://www.kaggle.com/datasets/upadorprofzs/testes), e responda as questões abaixo. O dataset contém dados estatísticos do IBGE relativos à escolaridade, renda entre outros campos avaliados pela PNAD (Pesquisa Nacional por Amostra de Domicílios). Os dados podem representar informações relevantes e reveladoras sobre a distribuição de renda e possivelmente alguns indicadores sobre tais situações encontradas a partir dos dados.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dados.csv')
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [3]:
Dict_UF = {
    11 : 'Rondônia',
    12 : 'Acre',
    13 : 'Amazonas',
    14 : 'Roraima',
    15 : 'Pará',
    16 : 'Amapá',
    17 : 'Tocantins',
    21 : 'Maranhão',
    22 : 'Piauí',
    23 : 'Ceará',
    24 : 'Rio Grande do Norte',
    25 : 'Paraíba',
    26 : 'Pernambuco',
    27 : 'Alagoas',
    28 : 'Sergipe',
    29 : 'Bahia',
    31 : 'Minas Gerais',
    32 : 'Espírito Santo',
    33 : 'Rio de Janeiro',
    35 : 'São Paulo',
    41 : 'Paraná',
    42 : 'Santa Catarina',
    43 : 'Rio Grande do Sul',
    50 : 'Mato Grosso do Sul',
    51 : 'Mato Grosso',
    52 : 'Goiás',
    53 : 'Distrito Federal'
}

In [4]:
df["UF"] = df["UF"].map(Dict_UF)

In [5]:
Dict_Cor = {
    0 : 'Indígena',
    2 : 'Branca',
    4 : 'Preta',
    6 : 'Amarela',
    8 : 'Parda',
    9 : 'Sem declaração'
    }

In [6]:
df["Cor"] = df["Cor"].map(Dict_Cor)

In [7]:
Dict_Sexo = {
      0 : 'Masculino',
      1 : 'Feminino'
  }

In [8]:
df["Sexo"] = df["Sexo"].map(Dict_Sexo)

In [9]:
df.head()

         UF       Sexo  Idade     Cor  Anos de Estudo  Renda    Altura
0  Rondônia  Masculino     23   Parda              12    800  1.603808
1  Rondônia   Feminino     23  Branca              12   1150  1.739790
2  Rondônia   Feminino     35   Parda              15    880  1.760444
3  Rondônia  Masculino     46  Branca               6   3500  1.783158
4  Rondônia   Feminino     47   Parda               9    150  1.690631

### Ex 01
##### Qual a quantidade de pessoas nas seguintes faixas etárias
##### a) 20 anos ou menos 
##### b) 21 a 35 anos
##### c) 36 a 50 anos
##### d) 51 a 65 anos
##### e) maiores de 65 anos

In [10]:
df['Faixa Etaria'] = pd.cut(x=df['Idade'], bins=[0,20,35,50,65,200], 
                    labels=['ate_20anos','entre21_35anos','entre36_50anos','entre51_65anos','mais_65anos'])
faixa_etaria = df.groupby('Faixa Etaria').count()
faixa_etaria['Idade']

Faixa Etaria
ate_20anos          764
entre21_35anos    20654
entre36_50anos    31770
entre51_65anos    20006
mais_65anos        3646
Name: Idade, dtype: int64

### Ex 02
##### Qual é a média de escolaridade em cada faixa etária?

In [11]:
media_escolaridade = df.groupby('Faixa Etaria').mean()
media_escolaridade['Anos de Estudo']

Faixa Etaria
ate_20anos         9.695026
entre21_35anos    10.813111
entre36_50anos     9.764274
entre51_65anos     8.267320
mais_65anos        5.842293
Name: Anos de Estudo, dtype: float64

### Ex 03
##### Qual a UF que concentra a maior renda?

In [12]:
uf_renda = df.groupby('UF').sum()
indice = uf_renda['Renda'].argmax()
print(uf_renda.iloc[indice].name)

São Paulo

### Ex 04
##### Qual a renda média de pessoas pretas e brancas de homens e mulheres?

In [13]:
pessoas = df.query("Cor == 'Branca' | Cor == 'Preta'")
cor_sexo_renda = pessoas.groupby(['Cor','Sexo']).mean()
print(cor_sexo_renda[['Renda','Anos de Estudo']])

                        Renda  Anos de Estudo
Cor    Sexo
Branca Feminino   2109.866750       11.297578
       Masculino  2925.744435       10.140353
Preta  Feminino   1134.596400        9.522326
       Masculino  1603.861687        8.514540

### Ex 05
##### Qual a renda média concentrada em cada faixa etária?

In [14]:
renda_media = df.groupby('Faixa Etaria').mean()
renda_media['Renda']

Faixa Etaria
ate_20anos         985.348168
entre21_35anos    1748.286143
entre36_50anos    2113.756091
entre51_65anos    2150.196741
mais_65anos       1831.231487
Name: Renda, dtype: float64

### Ex 06
##### Qual a renda média nas faixas de anos de estudo abaixo?
##### a) 2 anos ou menos
##### b) 3 a 6 anos
##### c) 7 a 10 anos
##### d) 10 a 12 anos
##### e) 13 anos ou mais

In [15]:
df['Anos Estudo'] = pd.cut(x=df['Anos de Estudo'], bins=[0,3,7,11,13,100],
                    labels=['ate_2anos','entre3_6anos','entre7_10anos','entre11_12anos','mais_13anos'])
renda_media_anos = df.groupby('Anos Estudo').mean()
renda_media_anos['Renda']

Anos Estudo
ate_2anos          768.575498
entre3_6anos      1149.426648
entre7_10anos     1403.497163
entre11_12anos    1869.521910
mais_13anos       4737.374037
Name: Renda, dtype: float64

### Ex 07
##### Qual a maior escolaridade entre indígenas, para homens e mulheres?

In [16]:
indigenas = df.query("Cor == 'Indígena'")
indigenas_escolaridade = indigenas.groupby('Sexo').max()
indigenas_escolaridade

,UF,Idade,Cor,Anos de Estudo,Renda,Altura,Faixa Etaria,Anos Estudo
Sexo,,,,,,,,
Feminino,São Paulo,79,Indígena,17,120000,1.937588,mais_65anos,mais_13anos
Masculino,São Paulo,97,Indígena,17,10000,1.918412,mais_65anos,mais_13anos

### Ex 08
##### Qual a média de anos de estudo entre brancos e negros?

In [17]:
media_anos_estudo_cor = df.groupby('Cor')['Anos de Estudo'].mean()
negros = media_anos_estudo_cor['Preta'] + media_anos_estudo_cor['Parda']
brancos = media_anos_estudo_cor['Branca']

print(f"Negros: media de anos de estudo {negros}")
print(f"Brancos: média de anos de estudo {brancos}")

Negros: media de anos de estudo 17.551483498698403
Brancos: média de anos de estudo 10.49030331604589

### Ex 09
##### Qual a média de anos de estudo e de renda para mulheres brancas, e para mulheres negras?

In [18]:
pessoas_cor = df.query("Cor == 'Branca' | Cor == 'Preta' | Cor == 'Parda'")
cor_estudo_renda = pessoas_cor.groupby('Cor').mean()
cor_estudo_renda[['Anos de Estudo', 'Renda']]

        Anos de Estudo        Renda
Cor
Branca       10.490303  2679.019331
Parda         8.689965  1513.596103
Preta         8.861518  1442.294840

### Ex 10
##### Qual é a UF com maior média de escolaridade e qual a UF com maior média de renda?

In [19]:
uf_media = df.groupby('UF').mean()

uf_maior_media_escolaridade = uf_media['Anos de Estudo'].argmax()
uf_maior_renda = uf_media['Renda'].argmax()

print(f'UF maior média de escolaridade: {uf_media.iloc[uf_maior_media_escolaridade].name}')
print(f'UF maior média de renda: {uf_media.iloc[uf_maior_renda].name}')

UF maior média de escolaridade: Distrito Federal
UF maior média de renda: Distrito Federal

### Ex 11
##### Elabore você uma pergunta sobre a base de dados e escreva o código para responder a pergunta.

In [ ]:
import matplotlib.pyplot as plt

# Gráfico Idade x Renda
plt.bar(df['Idade'], df['Renda'])
plt.xlabel('Idade')
plt.ylabel('Renda')
plt.title('Idade x Renda')
plt.show()