### Exercícios Aula 04
##### Utilize o dataset contido nesse [link](https://www.kaggle.com/datasets/upadorprofzs/testes), e responda as questões abaixo. O dataset contém dados estatísticos do IBGE relativos à escolaridade, renda entre outros campos avaliados pela PNAD (Pesquisa Nacional por Amostra de Domicílios). Os dados podem representar informações relevantes e reveladoras sobre a distribuição de renda e possivelmente alguns indicadores sobre tais situações encontradas a partir dos dados.

In [1]:
import pandas as pd

In [51]:
df = pd.read_csv('dados.csv')
df.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [36]:
Dict_UF = {
    11 : 'Rondônia',
    12 : 'Acre',
    13 : 'Amazonas',
    14 : 'Roraima',
    15 : 'Pará',
    16 : 'Amapá',
    17 : 'Tocantins',
    21 : 'Maranhão',
    22 : 'Piauí',
    23 : 'Ceará',
    24 : 'Rio Grande do Norte',
    25 : 'Paraíba',
    26 : 'Pernambuco',
    27 : 'Alagoas',
    28 : 'Sergipe',
    29 : 'Bahia',
    31 : 'Minas Gerais',
    32 : 'Espírito Santo',
    33 : 'Rio de Janeiro',
    35 : 'São Paulo',
    41 : 'Paraná',
    42 : 'Santa Catarina',
    43 : 'Rio Grande do Sul',
    50 : 'Mato Grosso do Sul',
    51 : 'Mato Grosso',
    52 : 'Goiás',
    53 : 'Distrito Federal'
}

In [37]:
df["UF"] = df["UF"].map(Dict_UF)

In [41]:
Dict_Cor = {
    0 : 'Indígena',
    2 : 'Branca',
    4 : 'Preta',
    6 : 'Amarela',
    8 : 'Parda',
    9 : 'Sem declaração'
    }

In [42]:
df["Cor"] = df["Cor"].map(Dict_Cor)

In [44]:
Dict_Sexo = {
      0 : 'masculino',
      1 : 'feminino'
  }

In [45]:
df["Sexo"] = df["Sexo"].map(Dict_Sexo)

In [46]:
df.head()

         UF       Sexo  Idade     Cor  Anos de Estudo  Renda    Altura
0  Rondônia  masculino     23   Parda              12    800  1.603808
1  Rondônia   feminino     23  Branca              12   1150  1.739790
2  Rondônia   feminino     35   Parda              15    880  1.760444
3  Rondônia  masculino     46  Branca               6   3500  1.783158
4  Rondônia   feminino     47   Parda               9    150  1.690631

### Ex 01
##### Qual a quantidade de pessoas nas seguintes faixas etárias
##### a) 20 anos ou menos 
##### b) 21 a 35 anos
##### c) 36 a 50 anos
##### d) 51 a 65 anos
##### e) maiores de 65 anos

In [65]:
ate_20anos = df[df["Idade"] <= 20]
entre21_35anos = df[(df["Idade"] >= 21) & (df["Idade"] <= 35)]
entre36_50anos = df[(df["Idade"] >= 36) & (df["Idade"] <= 50)]
entre51_65anos = df[(df["Idade"] >= 51) & (df["Idade"] <= 65)]
mais_65anos = df[df["Idade"] > 65]

In [ ]:
a = len(ate_20anos)

print(a)

In [ ]:
b = len(entre21_35anos)

print(b)

In [ ]:
c = len(entre36_50anos)

print(c)

In [ ]:
d = len(entre51_65anos)

print(d)

In [ ]:
e = len(mais_65anos)

print(e)

### Ex 02
##### Qual é a média de escolaridade em cada faixa etária?

### Ex 03
##### Qual a UF que concentra a maior renda?

### Ex 04
##### Qual a renda média de pessoas pretas e brancas de homens e mulheres?

### Ex 05
##### Qual a renda média concentrada em cada faixa etária?

### Ex 06
##### Qual a renda média nas faixas de anos de estudo abaixo?
##### a) 2 anos ou menos
##### b) 3 a 6 anos
##### c) 7 a 10 anos
##### d) 10 a 12 anos
##### e) 13 anos ou mais

### Ex 07
##### Qual a maior escolaridade entre indígenas, para homens e mulheres?

### Ex 08
##### Qual a média de anos de estudo entre brancos e negros?

### Ex 09
##### Qual a média de anos de estudo e de renda para mulheres brancas, e para mulheres negras?

### Ex 10
##### Qual é a UF com maior média de escolaridade e qual a UF com maior média de renda?

### Ex 11
##### Elabore você uma pergunta sobre a base de dados e escreva o código para responder a pergunta.