<a href="https://colab.research.google.com/github/JLVanin/Data-Science-Growdev/blob/main/Programa%C3%A7%C3%A3o%20Para%20Data%20Science%20I/Exercicios_Aula_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercícios Aula 03

As questões a seguir utilizam como base o dataset de venda de jogos
eletrônicos disponível no seguinte [link](https://www.kaggle.com/code/rafa84miranda/vendas-de-jogos-de-videogames/data?select=vgsales.csv)

### Ex 01
##### Qual foi o jogo mais vendido no mundo em 2010?

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

In [ ]:
game_2010 = df.query('Year == 2010')
max_sale = game_2010['Global_Sales'].max()
game = game_2010.query(f'Global_Sales == {max_sale}')
print(game['Name'])

### Ex 02
##### Qual foi o gênero mais vendido na américa do norte em 2005

In [ ]:
year_2005 = df.query('Year == 2005')
genre = year_2005.groupby('Genre').sum()
max_sale_na = genre['NA_Sales'].max()
genre_max_sale_na = genre.query(f'NA_Sales == {max_sale_na}')

print(genre_max_sale_na.iloc[0].name)

### Ex 03 
##### Qual foi a empresa que mais vendeu de 2005 até 2016

In [ ]:
year_2005_2016 = df.query('2005 <= Year <= 2016')
publisher = year_2005_2016.groupby('Publisher').sum()
max_sales = publisher['Global_Sales'].max()
publisher_max_sales = publisher.query(f'Global_Sales == {max_sales}')

print(publisher_max_sales.iloc[0].name)

### Ex 04
##### Qual o nome do jogo que menos foi vendido em 2008 do gênero Sports.

In [ ]:
year_2008_genre = df.query("Year == 2008 & Genre == 'Sports'")
min_sales = year_2008_genre['Global_Sales'].min()
game_min_sales_2008 = year_2008_genre.query(f'Global_Sales == {min_sales}')

print(game_min_sales_2008['Name'])

### Ex 05
##### Mostre um gráfico com o total de vendas por ano.

In [ ]:
import matplotlib.pyplot as plt

sales_year = df.groupby('Year')['Global_Sales'].sum()

sales_year.plot.bar(figsize= (16,7))

### Ex 06
##### Qual foi o ano com mais lançamentos de jogos?

In [ ]:
games_year = df.groupby('Year').count()
games_year = games_year['Name']

games_year.plot.bar(figsize= (16,7))

### Ex 07
##### Qual a plataforma que menos lançou jogos?

In [ ]:
games_platform = df.groupby('Platform').count()
publisher_min = games_platform['Name'].min()
platform_min_pubisher = games_platform.query(f'Name == {publisher_min}')

print(platform_min_pubisher['Name'])

### Ex 08
##### Qual plataforma que mais gerou lucros com jogos do gênero Action desde 2009?

In [ ]:
year_genre = df.query("Genre == 'Action' & Year >= 2009")
platform = year_genre.groupby('Platform').sum()
platform_max_sales = platform['Global_Sales'].max()
platform = platform.query(f'Global_Sales == {platform_max_sales}')

print(platform.iloc[0].name)

### Ex 09
##### Qual empresa teve o maior lucro (sob o teto de 0.35 milhões) de 1980 até 1995, excluindo-se a plataforma SNES.

In [ ]:
publisher_year_1980_1995 = df.query("1980 <= Year <= 1995 & Platform != 'SNES'")
year_publisher = publisher_year_1980_1995.groupby('Publisher').sum()
publisher_35m = year_publisher.query('Global_Sales <= 0.35')
publisher_35m_max = publisher_35m['Global_Sales'].max()
publisher_max_profit = publisher_35m.query(f'Global_Sales == {publisher_35m_max}')

print(publisher_max_profit.iloc[0].name)

### Ex 10
##### A empresa que mais lucrou no Japão em 2003 é a mesma que mais lucrou na europa nesse mesmo ano?

In [ ]:
year_2003 = df.query('Year == 2003')
publisher = year_2003.groupby('Publisher').sum()
jp_publisher_value = publisher['JP_Sales'].max()
eu_publisher_value = publisher['EU_Sales'].max()
jp_publisher_sales = publisher.query(f'JP_Sales == {jp_publisher_value}')
eu_publisher_sales = publisher.query(f'EU_Sales == {eu_publisher_value}')

print(f'Japão: {jp_publisher_sales.iloc[0].name}')
print(f'Europa: {eu_publisher_sales.iloc[0].name}')

if jp_publisher_sales.iloc[0].name == eu_publisher_sales.iloc[0].name:
  print('Sim')
else:
  print('Não')

### Ex 11
##### Qual o percentual relacionado às vendas globais de jogos de Wii (excluindo-se América do norte, japão e europa) de 2006 até 2010?

In [ ]:
game_wii_year = df.query("2006 <= Year <= 2010 & Platform == 'Wii'")
wii_os = game_wii_year['Other_Sales'].sum()
wii_gs = game_wii_year['Global_Sales'].sum()
percent = wii_os / wii_gs * 100

print(f'Percentual: {percent:.2f}%')

### Ex 12
##### Mostre um gráfico de linhas com as vendas em diferentes plataformas ao longo dos anos.

In [ ]:
platform_sales = df.groupby(['Year', 'Platform'])['Global_Sales'].sum()
fig, ax = plt.subplots(figsize= (16,7))
platform_sales.unstack().plot(ax=ax)

### Ex 13
##### Mostre um gráfico de pizza com o percentual de vendas dos diferentes gêneros de jogos.

In [ ]:
sales_genre = df.groupby('Genre').sum()['Global_Sales']
sales_genre.rename('Vendas Globais', inplace=True)
sales_genre.plot.pie(figsize= (35,12), autopct='%.1f')